<div ...attributes>
  {{this.renderedMobiledoc}}
</div>

{{#each this._componentCards as |card|}}
  {{#in-element card.destinationElement}}
    {{component card.componentName options=(readonly card.options) payload=(readonly card.payload)}}
  {{/in-element}}
{{/each}}
{{#each this._componentAtoms as |atom|}}
  {{#in-element atom.destinationElement}}
    {{component atom.componentName options=(readonly atom.options) payload=(readonly atom.payload) value=(readonly atom.value)}}
  {{/in-element}}
{{/each}}
